<div class="col-12">
    {{ if isset .Params 1}}{{index .Params 1}}{{ end }}
    <div class="video-container">
        <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/{{ index .Params 0 }}{{ if isset .Params 2}}?start={{index .Params 2}}{{ end }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <a href="https://www.youtube.com/watch?v={{ index .Params 0 }}{{ if isset .Params 2}}?t={{index .Params 2}}{{ end }}">{{ i18n "WatchOnYouTube" }}</a>
</div>
