<!-- Get involved -->
<section id="cta" class="main special">
    <section class="aln-center">
        <header class="major">
            <h2>{{ i18n "GetInvolved" }}</h2>
        </header>

        <ul class="actions special">
            <!--<li>
                <p><a href="$LOGI_SIGN_LINK" class="button primary">$LOGI_SIGN_LETTER</a></p>
            </li>-->
            <li>
                <p><a href="https://discord.gg/YYhWMcRnHc" class="button primary">{{ i18n "JoinDiscord" }}</a></p>
            </li>
<!--            <li>-->
<!--                <p><a href="{{ i18n "SurveyLink" }}" class="button primary" target="_blank">{{ i18n "TakeSurveyUIUX" }}</a></p>-->
<!--            </li>-->
<!--            <li>-->
<!--                <p><a href="https://www.reddit.com/r/foxholegame/comments/s1p7uz/a_message_to_the_wider_foxhole_community_from_logi/" hreflang="en" class="button primary">{{ i18n "Strike" }}</a></p>-->
<!--            </li>-->
        </ul>
    </section>
</section>